* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

ul {
  list-style: none;
  float: right;
  display: flex;
}
ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
}
